@font-face{
    font-family: light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}
@font-face{
    font-family: med;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}
@font-face{
    font-family: regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

:root {
    --menu-width:230px;
    --blue: #1539AE;
    --hover-blue: #0b1e5c;
    --light-blue: #C2D0FF;
    --white: #FFFFFF;
    --black: #1B1B1B;
    --grey: #707070;
    --light: #ECF1FF;
    --header-height: 100px;
    --total-height: 90vh;
    --green : #1FA46D;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;

}
.pre-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    visibility: visible;
}
.loader-line {
    width: 180px;
    height: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin: 0 auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: var(--blue);
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}
.pre-loader .pre-bar::before{
    content: "";
}
.form-check-input:focus{
    box-shadow: none;
}
.text-grey{
    color: var(--grey);
}
.bg-my-light{
    background-color: var(--light);
}
.bg-blue{
    background-color: var(--blue);
}
.bg-hover-blue{
    background-color: var(--hover-blue);
}
.round{
    border-radius: 12px;
}
.sp-link{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--blue);
    font-family: bold;
}
.common-head h4{
    margin: 0;
    text-align: center;
    font-family: med;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head p{
    margin: 0;
    color: var(--grey);
}
.head h4{
    margin: 0;
    font-family: med;
}
.head span{
    background-color: var(--light-blue);
    color: var(--blue);
    padding: 10px 15px;
    margin: 0px 10px;
    font-size: 13px;
    font-family: regular;
    vertical-align: middle;
}
.common-p p{
    margin: 0;
    color: var(--grey);
    text-align: center;
    font-family: regular;
    font-size: 22px;
}
.leader-tab button.active{
    background-color: var(--white);
    color: var(--black);
}
.leader-tab button.active{
    background-color: var(--blue);
    color: var(--white);
}

.nav-link{
    color: var(--grey) !important;
    font-family: regular;
}

.nav-link:hover{
    color: var(--blue) !important;
}
.nav-link:hover i{
    color: var(--blue) !important;
}
.nav-link.active{
    color: var(--blue) !important;
}
.nav-link.active i{
    color: var(--blue) !important;
}
.canvas-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    display: none;
    padding: 10px;
}
.canvas-box i{
    font-size: 20px;
    color: var(--blue);
}
.withdraw-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offcanvas{
    max-width: 300px !important;
}
.mobile-nav{
    display: none;
    width: 100vw !important;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 9999999;
    background-color: var(--light-blue);
}
.mobile-nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--light-blue);
}
.mobile-nav ul li{
    padding: 8px 0px;
    width: 20%;
    margin: 0px 5px;
    text-align: center;
    border-radius: 3px;
}
.mobile-nav ul li:hover span i{
    color: var(--blue);
}
.mobile-nav ul li:hover a{
    color: var(--blue);
}
.mobile-nav ul li.sp{
    position: relative;
    bottom: 15px;
    left: 0;
    padding-top: 15px;
    background-color: var(--blue);
}
.mobile-nav ul li.sp span i{
    color: var(--white);
}
.mobile-nav ul li.sp a{
    color: var(--white);
}
.mobile-nav ul li.active span i{
    color: var(--blue);
}
.mobile-nav ul li.active a{
    color: var(--blue);
}
.mobile-nav ul li.sp.active span i{
    color: var(--white);
}
.mobile-nav ul li.sp.active a{
    color: var(--white);
}
.mobile-nav ul li a span{
    display: block;
    text-align: center;
}
.mobile-nav ul li a span i{
    color: var(--grey);
    font-size: 16px;
}
.mobile-nav ul li a{
    text-decoration: none;
    color: var(--grey);
    font-size: 13px;
    margin: 0;
}
.btn{
    border-radius: 7px !important;
    font-family: regular !important;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-close:focus{
    box-shadow: none !important;
}
.form-control:focus{
    box-shadow: none !important;
}
.bg-primary{
    background-color: var(--blue) !important;
}
.btn-primary{
    background-color: var(--blue) !important;
    border: none !important;
    border: 1px solid var(--blue) !important;
}
.btn-primary:hover{
    background-color: var(--hover-blue) !important;
}
.btn-primary:focus{
    box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon i{
    color: var(--blue) !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
    vertical-align: center !important;
}

.footer-box .footer-box-left p{
    color: var(--grey);
    font-size: 18px;
}
.footer-box .footer-box-right h5{
    font-family: med;
    margin: 0;
}
.footer-box .footer-box-right ul{
    padding: 0;
    list-style: none;
}
.footer-box .footer-box-right ul li a {
    color: var(--grey);
    text-decoration: none;
    font-family: regular;
}
.footer-box .footer-box-right ul li a:hover{
    color: var(--black);
}
.social-links{
    display: flex;
    justify-content: start;
}
.social-links span{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.social-links span a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    vertical-align: center;
    text-decoration: none;
}
.social-links span a:hover{
    background-color: var(--black);
}
.social-links span a i{
    color: var(--white);
    font-size: 20px;
}
.flags-box span{
    color: var(--grey);
    font-size: 15px;
}
.flags-box span:hover{
    color: var(--black);
}
.work-card{
    max-height: 230px;
}
.work-card span{
    width: 55px;
    height: 55px;
    position: absolute;
    top: -25px;
    left: 25px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-card span i{
    font-size: 26px;
}
.work-card h4{
    font-family: bold;
}
.work-card p{
    color: var(--grey);
    font-size: 14px;
    font-family: regular;
}
.stat-card{
    display: flex;
    justify-content: start;
    align-items: center;
}
.stat-card .stat-card-left span{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
}
.stat-card .stat-card-left span i{
    color: var(--blue);
    font-size: 24px;
}
.stat-card .stat-card-right span
{
    display: block;
    color: var(--white);
}
.login-form .reset{
    text-decoration: none;
    color: var(--grey);
    margin-left: 20px;
    font-size: 12px;
    font-family: regular;
}
.form-head{
    font-family: bold !important;
}
label.error {
    color: #F00;
    font-size: 12px;
}
.login-form .or{
    display: block;
}
.login-form .or::before{
    content: "";
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: var(--light);
    margin-bottom: 3px;
}
.login-form .or::after{
    content: "";
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: var(--light);
    margin-bottom: 3px;
}
.login-form .login-form-left{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgrey;
}
.earn-card{
    width: 100%;
    height: 120px;
    position: relative;
}
.earn-card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.earn-card-overlay a img{
    width: 140px;
    height: 35px;
    object-fit: initial;
    margin: 0 auto;
}
.earn-card-overlay-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
.earn-card-overlay-2 span{
    color: var(--white);
    font-size: 15px;
    font-family: regular;
}
.earn-card.adgate{
    background-color: #46bbf9;
}
.earn-card.adgem{
    background-color: #7359a4;
}
.earn-card.wannads{
    background-color: #f7f7f7;
}
.earn-card.ayet{
    background-color: #1b1b1b;
}
.earn-card.toro{
    background-color: #2a303c;
}
.earn-card.adscend{
    background-color: #06354b;
}
.earn-card.lootably{
    background-color: #30b0d5;
}
.earn-card.revu{
    background-color: #4a66be;
}
 .earn-card.cpx{
     background-color: #597dfe;
 }
.earn-card.bitlabs{
    background-color: #ffffff;
}
.earn-card.wall{
    background-color: #333333;
}
.parent-pad{
    padding: 15px 40px !important;
}
.card-bg{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 0 !important;
    background-size: cover;
}
.card-bg-2{
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 0 !important;
    background-size: cover;
    position: relative;
}
.card-bg-2 .overly{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}
.card-bg-2 .overly .overly-left span{
    color: var(--white);
    font-size: 12px;
}
.card-bg-2 .overly .overly-right span{
    color: var(--white);
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}
.paypal-card{
    background-image:  linear-gradient(to right, #00bcf9  ,#213e7d);
}
.bank-card{
    background-image:  linear-gradient(to right, #6eaf83  ,#0f505e);
}
.amazon-card{
    background-color: #000000;
}
.google-card{
    background-color: #ffffff;
}
.apple-card{
    background-image:  linear-gradient(to right, #fa5a62 ,#ae58d0, #12c5f5);
}
.netflix-card{
    background-color: #ffffff;
}
.spotify-card{
    background-image: linear-gradient(to right, #79b464 , #2eb34c);
}
.zalando-card{
    background-color: #ffffff ;
}
.steam-card{
    background-color: #484e8b;
}
.xbox-card{
    background-image: linear-gradient(to right, #198c46 , #2eb34c);
}
.nintendo-card{
   background-color: #ff0012;
}
.blizzard-card{
   background-color: #1b1b1b;
}
.eat-card{
   background-color: #ff7e22;
}
.cpx-card{
    background-image: url('../../assets/img/Mask Group 5.png');
}
.survey-card{
    background-image: url('../../assets/img/Mask Group 6.png');
}
.yoyo-card{
    background-image: url('../../assets/img/Mask Group 7.png');
}
.gym-card{
    background-image: url('../../assets/img/Mask Group 8.png');
}

.withdraw-form small{
    color: var(--grey);
    font-size: 12px;
}
.withdraw-form .btn-submit{
    color: var(--grey);
    background-color: var(--light);
}
.withdraw-form .btn-submit:hover{
    color: var(--white);
    background-color: var(--blue);
}
.withdraw-form .btn-dropdown{
    background-color: var(--light);
    color: var(--grey);
    font-family: regular;
    font-size: 12px;
}
.withdraw-form .dropdown-menu .dropdown-item{
    color: var(--grey);
    font-family: regular;
    font-size: 12px;
}
.withdraw-form .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--white);
}
.leader-card{
    position: relative;
}
.leader-card img{
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.leader-card .tag{
    position: absolute;
    top: 15px;
    left: 15px;
}
.leader-card .tag span{
    background-color: var(--light-blue);
    color: var(--blue);
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
}
.leader-card .card-body a{
    text-decoration: none;
    color: var(--black);
}
.leader-card .card-body h5{
    font-family: med;
    letter-spacing: 0.5px;
}
.leader-card .card-body .stats span{
    color: var(--grey);
}
.user-card{

}
.user-card .user-card-left{
    display: flex;
    justify-content: start;
    align-items: center;
}
.user-card .user-card-left span{
    background-color: var(--light-blue);
    color: var(--blue);
    border-radius: 10px;
    font-size: 12px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-card .user-card-left img{
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.user-card .user-card-left a{
    text-decoration: none;
    color: var(--black);
}
.user-card .user-card-left a h5{
    font-family: med;
    letter-spacing: 0.5px;
}
.user-card .user-card-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-card .user-card-right span{
    color: var(--grey);
    font-family: regular;
}
.profile-box{
    border-right: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-box h5{
    font-family: med;
}
.profile-box h5 span{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--grey);
    margin-left: 10px;
    vertical-align: middle;
    font-size: 13px;
}
.profile-box img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
    border-radius: 50%;
}
.profile-box .stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-box .stats span{
    display: block;
    color: var(--grey);
    font-size: 14px !important;
}
.profile-box .stats span.num{
    color: var(--black);
    font-family: med;
}
.graph-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
.graph-box h5{
    font-family: med;
}
.graph-box p{
    color: var(--grey);
}
.modal-content{
    border-radius: 12px !important;
}
.contact-box p{
    color: var(--grey);
    font-family: regular;
}
.contact-box p span{
    font-family: med;
}
.contact-box p a{
    text-decoration: none;
    color: var(--blue);
}
.contact-box h4{
    color: var(--blue);
    font-family: med;
}
.faq-box{

}
.faq-box .nav-tabs{
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.faq-box .nav-tabs .nav-item{
    width: 16.6%;
    border-bottom: 2px solid lightgrey;
}
.faq-box .nav-tabs .nav-item .nav-link{
    width: 100%;
    text-align: center;
    border: none;
    padding: 12px 0px;
    letter-spacing: 0.6px;

}
.faq-box .nav-tabs .nav-item .nav-link.active{
    background-color: transparent;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.accordion-btn{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    background-color: var(--white);
    border: none;
    box-shadow: none;
    font-size: 18px;
}
.accordion-btn:focus{
    background-color: #FFFFFF;
    box-shadow: none;
    color: var(--black);
}
.accordion-btn:active{
    background-color: #FFFFFF !important;
    box-shadow: none;
    color: var(--black);
}
.accordion-btn:active .accordion-header{
    background-color: red;
}
.accordion-btn .arrow{
    width: 33px;
    height: 33px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
}
.accordion-btn .arrow i{
    color: var(--white);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.3rem;
}
.parent{
    display: flex;
}
.child-1{
    width: 100vw;
    position: relative;
    min-height: 100vh;
    background-color: var(--light);
}
.child-2{
    background-color: var(--light);
    display: none;
}


.sidebox{
    position: fixed;
    right: 0;
    top: 140px;
    width: 300px;
    height: auto;
    background-color: var(--white);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 1001;
}
.sidebox .overlay{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;

}
.sidebox .overlay .toggle-box{
    position: absolute;
    left: -35px;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: var(--blue);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebox .overlay .toggle-box:hover{
    cursor: pointer;
}
.sidebox .overlay .toggle-box i{
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
}
.up-header{
    height: 50px;
    background-color: blue;
}
.up-body{
    width: 100%;
    height: calc(100vh - 245px);
    padding: 7px;
    /*position: relative;*/
    overflow-y: scroll;
    overscroll-behavior-y: initial;
    scrollbar-width: thin;
}
/*.up-body .content{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 7px;*/
/*    */
/*}*/
.up-body .child{
    padding: 9px;
    display: flex;
    justify-content: space-between;
}
.up-body .child .time{
    font-family: light;
    font-size: 12px;
}
.up-body .child .sub-child{
    display: flex;
    justify-content: start;
    align-items: center;
}

.up-body .child .sub-child span img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.up-body .child .sub-child .name{
    margin: 0;
    padding: 0;
    font-family: med;
    font-size: 15px;
    display: block;
}
.up-body .child .sub-child .txt{
    font-family: light;
    font-size: 12px;
    display: block;
}
.up-header .support-btn{
    color: var(--grey);
    padding-right: 30px !important;
    padding-left: 30px !important;
    border-radius: 18px !important;
}
.sidebox .sidebox-dropdown .btn-general{
    background-color: var(--white) !important;
    color: var(--grey) !important;
    border: none !important;
}
.sidebox .sidebox-dropdown .btn-general i{
    color: var(--grey) !important;
}
.sidebox .sidebox-dropdown .btn-general.active{
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border: 1px solid var(--blue) !important;
}
.sidebox .sidebox-dropdown .btn-general.active i {
    color: var(--white) !important;
}
.support-btn{
    background-color: var(--white) !important;
    color: var(--grey) !important;
}
.support-btn.active{
    background-color: var(--blue) !important;
    color: var(--white) !important;
}
.sidebox .sidebox-dropdown .dropdown-menu .dropdown-item{
    color: var(--grey);
    font-family: regular;
    font-size: 11px;
}
.sidebox .sidebox-dropdown .dropdown-menu .dropdown-item i{
    font-size: 14px;
    color: var(--black);
}
.sidebox .sidebox-dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--white);
}
.sidebox .sidebox-dropdown .dropdown-menu .dropdown-item:hover i{
    color: var(--white);
}
.sidebox .overlay .up-footer{
    height: 55px;
    padding: 0;
    position: absolute;
    bottom: -15px;
    left: 0;
    padding: 0px 12px;
    width: 100%;
    background-color: #fff;
}
.sidebox .overlay .up-footer .input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    padding: 9px 12px;
    border-radius: 12px;
}
.sidebox .overlay .up-footer .input-box input{
    width: 90%;
    border: none;
    color: var(--black) !important;
    padding: 3px 5px;
    background-color: transparent;
    font-size: 13px;
    font-family: light;
}
.sidebox .overlay .up-footer .input-box input:focus{
    outline: none;
}
.sidebox .overlay .up-footer .input-box span{

    width: 10% !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebox .overlay .up-footer .input-box span i{
    font-size: 18px;
}


/* 2nd Sidebox Box Style*/
.sidebox-2{
    position: fixed;
    right: 0;
    top: 140px;
    width: 1px;
    height: 1px;
    background-color: var(--white);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 1002;
}
.sidebox-2 .overlay-2{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;

}
.sidebox-2 .overlay-2 .toggle-box-3{
    visibility: hidden;
}
.sidebox-2 .overlay-2 .toggle-box-2, .toggle-box-3{
    position: absolute;
    left: -40px;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: var(--blue);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1003;
}
.sidebox-2 .overlay-2 .toggle-box-2, .toggle-box-3:hover{
    cursor: pointer;
}
.sidebox-2 .overlay-2 .toggle-box-2 i{
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
}
.sidebox-2 .overlay-2 .toggle-box-3 i{
    color: var(--white);
}
.up-header{
    background-color: var(--light-blue);
    text-align: center;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up-header i{
    color: var(--blue);
    font-size: 26px;
}
.sidebox-2 .up-header{
    visibility: hidden;
}
.up-body-2{
    width: 100%;
    padding: 7px;
    text-align: center;
    visibility: hidden;
}
.up-body-2 span{
    display: block;
    padding: 9px 0px;
}
.up-body-2 span img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.profile-tabs{

}
.profile-tabs .nav-tabs{
    border: none;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}
.profile-tabs .nav-tabs .nav-item{
    width: 25%;
}
.profile-tabs .nav-tabs .nav-item .nav-link{
    display: flex !important;
    justify-content: center;
    width: 100% !important;
    text-align: center !important;
    background-color: var(--white);
    border: none;
    padding: 12px 0px;
    letter-spacing: 0.6px;
    border-radius: 7px;
    font-family: med;
}
.profile-tabs .nav-tabs .nav-item .nav-link.active{
    background-color: var(--blue);
    color: var(--white) !important;
}
.user-profile{

}
.profile-card-1{
    min-height: 400px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.profile-card-2{
    min-height: 490px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.user-profile .user-profile-left h6{
    margin: 0;
    margin-bottom: 9px;
}
.user-profile .user-profile-left h6.h{
    color: var(--grey);
}
.user-profile .user-profile-right h6{
    margin: 0;
    margin-bottom: 9px;
    font-family: regular;
}
.user-profile .user-profile-right small{
    font-family: light !important;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.user-profile .user-profile-right .language .btn-dropdown{
    background-color: var(--light-blue);
    border-radius: 3px !important;
    font-family: light;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-profile .user-profile-right .language{
    /*width: 40%;*/
}
.user-profile .user-profile-right .language .btn-dropdown span{
    color: var(--black);
    font-size: 14px;
}
.user-profile .user-profile-right .language .btn-dropdown i{
    font-size: 13px;
    color: var(--black);
}
.user-profile .user-profile-right .language .dropdown-menu .dropdown-item{
    font-size: 13px;
    font-family: light;
}
.user-profile .user-profile-right .language .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--white);
}
.form-control-sm{
    box-shadow: none !important;
    border: none ;
}
.form-control-sm:focus{
    outline: none;
    box-shadow: none !important;
}
.btn-delete{
    background-color: #b52621;
    color: var(--white);
}
.c-red{
    color: #b52621;
}
.btn-delete:hover{
    color: var(--white);
}

.earning-tab .nav-tabs{
    border: none;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}
.earning-tab .nav-tabs .nav-item{
    width: 33.33%;
}
.withdrawls-tab .nav-tabs .nav-item{
    width: 50% !important;
}
.earning-tab .nav-tabs .nav-item .nav-link{
    display: flex !important;
    justify-content: center;
    width: 100% !important;
    text-align: center !important;
    background-color: var(--white);
    border: none;
    padding: 12px 0px;
    letter-spacing: 0.6px;
    font-family: regular;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: 2px solid lightgrey;
}
.earning-tab .nav-tabs .nav-item .nav-link.active{
    background-color: var(--white);
    color: var(--blue) !important;
    border-bottom: 2px solid var(--blue);
}
.earning-filters{
    display: flex;
    justify-content: space-between;
}
.earning-filters .earning-filters-child{
    width: 22%;
}
.earning-filters .earning-filters-child.sp{
    width: 12% !important;
}
.earning-filters label{
    color: var(--grey);
    font-size: 13px;
    font-family: light;
}
.earning-table .table thead{
    border-bottom: 2px solid lightgrey !important;
}
.earning-table .table tbody {
    border-bottom: 2px solid lightgrey !important;
}
.earning-table .table thead tr td{
    border: none !important;
    font-family: med;
    vertical-align: middle;
}
.earning-table .table tbody tr td{
    color: var(--grey);
    vertical-align: middle;
}
.table-pagination .pagination{
    margin-top: 6px;
    background-color: var(--light-blue) !important;
}
.table-pagination .pagination .page-item .page-link{
    background-color: var(--light-blue) !important;
    color: var(--blue);
    border: 1px solid var(--light-blue);
}
.table-pagination .pagination .page-item .page-link span{
    color: var(--black);
}
.table-pagination .pagination .page-item.active .page-link{
    background-color: var(--blue) !important;
    color: var(--white);
    border: 1px solid var(--blue);
}
.referred-table table{
    border-collapse:separate;
    border-spacing: 0 1.5em;
    border-radius: 10px;
}
.referred-table table thead{
    border: 2px solid transparent !important;
}
.referred-table table tbody{
    border: 2px solid transparent !important;
}
.referred-table table tbody tr{
    background-color: var(--white);
}
.referred-table table thead tr td{
    font-family: med;
    color: var(--grey);
    vertical-align: middle;
}
.referred-table table tbody tr td{
    font-family: med;
    color: var(--black);
    vertical-align: middle;
    margin: 20px 0px !important;
}
.referred-table table tbody tr td.amount{
    font-family: light;
}
.blog-box .nav-tabs{
    border: none;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}
.blog-box .nav-tabs .nav-item{
    width: 20%;
}
.withdrawls-tab .nav-tabs .nav-item{
    width: 50% !important;
}
.blog-box .nav-tabs .nav-item .nav-link{
    display: flex !important;
    justify-content: center;
    width: 100% !important;
    text-align: center !important;
    background-color: transparent;
    border: none;
    padding: 12px 0px;
    letter-spacing: 0.6px;
    font-family: regular;
    border-radius: 0;
    border-bottom: 2px solid lightgrey;
}
.blog-box .nav-tabs .nav-item .nav-link.active{
    background-color: transparent;
    color: var(--blue) !important;
    border-bottom: 2px solid var(--blue);
}
.blog-card .card-img-top img{
    width: 100%;
    height: 220px;
    object-fit: fill;
    border-radius: 12px;
}
.blog-card .card-body p{
    margin: 0;
    color: var(--blue);
    font-family: light;
    font-size: 13px;
}
.blog-card .card-body a{
    text-decoration: none;
    color: var(--black);
    font-family: med;
}
.blog-card .card-body a h6{
    margin: 0;
    padding: 5px 0px;
}
.blog-card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border: none;
}
.blog-card .card-footer img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.blog-card .card-footer .user{
    color: var(--grey);
    font-family: regular;
    font-size: 14px;
    margin-left: 5px;
}
.blog-card .card-footer .date{
    color: var(--grey);
    font-family: light;
    font-size: 14px;
}
.pasword-box{
    display: flex;
}
.pasword-box .pasword-box-left{
    width: 50%;
}
.pasword-box .pasword-box-right{
    width: 50%;
}
.blog-detail-card-left .labl{
    color: var(--blue);
    font-family: regular;
    font-size: 15px;
}
.blog-detail-card-left .time{
    color: var(--grey);
    font-family: regular;
    font-size: 15px;
}
.blog-detail-card-left h5{
    margin: 0;
    color: var(--black);
    margin: 20px 0px;
    font-family: med;
    font-size: 22px;
}
.blog-detail-card-left p{
    color: var(--grey);
    font-family: med;
    font-size: 22px;
    line-height: 30px;
}
.blog-detail-card-left .image img{
    width: 50px;
    height: 50px;
    object-fit: fill;
    object-position: top;
    border-radius: 50%;
}
.blog-detail-card-left .name span{
    color: var(--grey);
    font-size: 16px;
    font-family: regular;
    letter-spacing: 0.5px;
    margin-left: 13px;
}
.blog-detail-card-left .social-links span{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.blog-detail-card-left .social-links span a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    vertical-align: center;
    text-decoration: none;
}
.blog-detail-card-left .social-links span a:hover{
    background-color: var(--black);
}
.blog-detail-card-left .social-links span a i{
    color: var(--white);
    font-size: 20px;
}
.blog-detail-card-right img{
    width: 350px;
    height: 350px;
    object-fit: fill;
    border-right: 12px;
}
.blog-detail-box-left h4{
    color: var(--blue);
    font-family: med;
}
.blog-detail-box-left p{
    color: var(--grey);
    font-family: regular;
}
.blog-detail-box-right .heading{
    padding: 15px 0px;
}
.blog-detail-box-right .heading span{
    font-size: 22px;
    font-family: med;
    text-transform: uppercase;
}
.blog-detail-box-right .heading span.blu{
    color: var(--blue);
}
.blog-detail-box-right p{
    font-family: regular;
}
.blog-detail-box-right a{
    display: block;
    background-color: var(--blue);
    color: var(--white) !important;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
}
.blog-detail-box-right a:hover {
    background-color: var(--hover-blue);
}
.blog-detail-box-right .detail-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-card-left p{
    font-family: regular;
    margin: 0;
    margin-bottom: 8px;
    font-size: 15px;
}
.detail-card-left p.sp{
    font-family: med;
}
.detail-card-right span{
    display: block;
    padding: 5px;
}
.detail-card-right span img{
    width: 30px;
    height: 20px;
    object-fit: contain;
}
.survey-modal-table{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.survey-modal-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.survey-modal-box-left .img-box{
    display: inline-block;
    width: 120px;
    height: 55px;
    background-image: url('../../assets/img/Mask Group 5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    position: relative;
    margin-right: 15px;
    text-align: center;
    font-size: 10px;
    color: var(--grey);
}
.survey-modal-box-left .img-box .img-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 6px;
    width: 100%;
    height: 25px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 5px;
    color: var(--white);
    overflow: hidden;
}
.survey-modal-body{
    background-color: var(--light-blue);
    margin: 12px 0px;
    border-radius: 12px;
}
.instruction-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 8px;
}
.instruction-item span{
    display: flex;justify-content: center;align-items: center;
    background-color: var(--blue);
    color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-family: med;
    font-size: 13px;
}
.instruction-item p{
    font-family: light;
    margin: 0;
    font-size: 14px;
    margin-left: 6px;
}
.description p{
    font-family: light;
    font-size: 14px;
}
.survey-modal-table .table thead{
    border-bottom: 2px solid white !important;
}
.survey-modal-table .table tbody {
    border-bottom: 2px solid white !important;
}
.survey-modal-table .table thead tr td{
    border: none !important;
    font-family: med;
    vertical-align: middle;
    color: var(--grey);
}
.survey-modal-table .table tbody tr td{
    color: var(--black);
    vertical-align: middle;
}
.user-dropdown .btn-dropdown{
    background-color: var(--light-blue);
    padding: 0;
    padding: 3px 10px;
    font-size: 14px;
}
.user-dropdown .btn-dropdown img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: top;
}
.user-dropdown .btn-dropdown span,i{
    color: var(--grey);
}

.user-dropdown .dropdown-menu .dropdown-item{
    font-size: 14px;
    font-family: regular;
    color: var(--grey);
}
.user-dropdown .dropdown-menu .dropdown-item i{
    color: var(--grey);
}
.user-dropdown .dropdown-menu .dropdown-item:hover i{
    color: var(--white);
}
.user-dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--white);
}
.language-dropdown .dropdown-menu .dropdown-item{
    font-size: 14px;
    color: var(--grey);
    font-family: regular;
}
.language-dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--white);
}
.lit-box{
    background-color: var(--light-blue);
    padding: 3px 9px;
    border-radius: 14px;
    color: var(--grey);
}
.lit-box i{
    margin-left: 5px;
    background-color: #FFBF00;
    border-radius: 50%;
    color: var(--white);
    padding: 2px;
    font-size: 14px;
}
form[name='user-profile'] .form-group .form-label{
    color: var(--grey);
    font-family: regular;
    font-size: 14px;
}
form[name='user-profile'] .form-group input{
    font-family: light;
    font-size: 14px;
    background-color: var(--light-blue);
}
form[name='user-info'] .form-group .form-label{
    color: var(--grey);
    font-family: regular;
    font-size: 14px;
}
form[name='user-info'] .form-group input{
    font-family: light;
    font-size: 14px;
    background-color: var(--light-blue);
}
.support-box {
  padding: 15px 15px 50px 15px;
  height: calc(100vh - 245px);
}
.support-box .email{
    font-family: regular;
    font-size: 15px;
}
.support-box .time{
    font-family: light;
    font-size: 13px;
}
.support-box p{
    color: var(--grey);
    margin: 0;
    font-family: regular;
    font-size: 13px;
}

.error-body{
    width: 100vw;
    height: 100vh;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-body h1{
    text-align: center;
    margin: 0;
    font-size: 12rem;
    color: var(--blue);
    letter-spacing: 10px;
}
.error-body h3{
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-family: light;
    color: var(--blue);
}
.error-body h5{
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    font-family: light;
    color: var(--blue);
}
.error-body .sp{
    display: inline-block !important;
    margin: 20px auto !important;
    padding: 10px 30px !important;
}
.error-body a{
    text-decoration: none;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
    font-size: 23px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    display: block;
    font-family: regular;
    border-radius: 4px;
}
.error-body a:hover{
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
}
.tooltip-inner
{
    max-width:310px;
    padding:6px 8px;
    color: var(--white);
    text-align:center;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color: var(--black);
    font-family: regular;
    opacity: 1;
    font-size: 15px;
}
.tooltip-inner .yeah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.tooltip-inner .yeah .left{
    color: white;
    padding-right: 10px;
}
.tooltip-inner .yeah .right{
    color: white;
}
.popover .arrow {
    display: none;
}
.mini-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border-radius: 8px;
    margin-right: 7px;
    position: relative;
}
.mini-box-left{
    background-color: var(--hover-blue);
    color: var(--white);
    padding: 8px 0px;
    border-radius: 8px;
    width: 40%;
    text-align: center;
}
.mini-box-left span i{
    background-color: #FFBF00;
    color: grey;
    border-radius: 50%;
    margin-left: 5px;
}
.mini-box-right{
    padding: 8px 8px 8px 8px;
    color: var(--white);
    width: 60%;
    text-align: left !important;
}
.mini-box-right a{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--white);
}
.mini-box-left a{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--white);
}
.mini-box-right a .sp{
    background-color: orangered;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: var(--white);
    vertical-align: center;
    margin-right: 5px;
}

/* Mobile Screens CSS Starts */
.hei-1{
    /*height: 450px;*/
}
.hei-c-1{
    height: 100px;
}
.hei-c-c-2{
    height: 220px;
}
.hei-c-c-2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hei-c-2{
    height: 270px;
}
.hei-c-2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mobile-parent-box{
    min-height: 100vh;
    background-color: var(--light);
    padding: 4rem;
}
.mobile-parent-box-content-text span{
    font-family: bold;
    font-size: 23px;
    line-height: 16px;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    color: var(--black);
}
.mobile-parent-box-content-text span.blu{
    color: var(--blue);
}
.mobile-parent-box-content-text p{
    margin: 0;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
    font-family: regular;
    margin: 16px 0px;
    padding: 0px 10px;
}
.star-box{
    text-align: center;
    display: flex;
    justify-content: center;
}
.star-box span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle !important;
    width: 18px;
    height: 18px;
    margin-right: 2px;
    background-color: var(--green);
    border-radius: 1px;
}
.star-box span i{
    color: var(--white);
    font-size: 10px;
}
.reviews p{
    margin: 0;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
    font-family: regular;
    margin: 10px 0px;
    padding: 0px 10px;
}
.reviews p a{
    text-decoration: none;
    color: var(--blue);
}
.reviews p i{
    color: var(--green);
}
.mobile-parent-box-form input{
    background-color: var(--light-blue);
    font-family: bold;
    font-size: 14px;
    text-align: center;
    color: var(--black);
    padding: 15px;
}
.mobile-parent-box-form input:focus {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
.mobile-parent-box-form input::placeholder{
    color: var(--black);
}
.mobile-parent-box-form .btn{
    display: block;
    width: 100%;
    padding: 0;
    background-color: var(--blue);
    padding: 15px;
    color: var(--white);
    font-family: bold;
    font-size: 14px;
    text-align: center;
    border-radius: 5px !important;
}
.mobile-parent-box-form .btn:hover{
    background-color: var(--hover-blue) !important;
}
.mobile-parent-box-form .btn i {
    color: var(--white);
    font-size: 14px;
    margin-right: 3px;
}
.mobile-parent-box-form a{
    text-decoration: none;
    color: var(--grey);
    font-size: 12px;
    font-family: regular;
    margin-top: 15px;
    display: block;
}

.login-with-email{
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: var(--black);
    padding: 15px;
    color: var(--white);
    font-family: regular;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.3px;
    border-radius: 5px !important;
    margin-top: 10px;
}
.login-with-email.blu{
    background-color: var(--blue) !important;
}
.login-with-email i {
    color: var(--white);
    font-size: 14px;
    margin-right: 4px;
}
.login-with-email:hover{
    color: var(--white);
}
.login-with-email.blu:hover{
    background-color: var(--hover-blue) !important;
}

.abc{
    display: flex;
    justify-content: start;
    align-items: center;
}
.abc-left{
    width: 200px;
}
.abc-right{
    width: 100px;
}
.abc-left input{
    background-color: var(--light-blue);
}
.btn-box{
    width: 160px;
}
/* Mobile Screens CSS Ends */

@media screen and (max-width: 1200px) {
    .user-profile .user-profile-right .language{
        /*width: 50%;*/
    }
    .earn-card{
        height: 150px !important;
    }
    .earn-card-overlay a img{
        height: 30px !important;
    }
    .earn-card-overlay-2{
        padding: 10px;
    }
    .earn-card{
        height: 130px !important;
    }
    .faq-box .nav-tabs .nav-item {
        width: 33.3%;
    }
    .earning-filters .earning-filters-child{
        width: 50% !important;
    }
    .earning-filters .earning-filters-child.sp{
        width: 50% !important;
    }
}

@media screen and (max-width: 992px) {
    .user-profile .user-profile-right .language{
        /*width: 45%;*/
    }
    .login-form-left{
        border: none !important;
    }
    .profile-box{
        border: none !important;
    }
    .earn-card{
        height: 120px !important;
    }
    .earning-filters .earning-filters-child{
        width: 50% !important;
    }
    .earning-filters .earning-filters-child.sp{
        width: 50% !important;
    }
    /*.sidebox{*/
    /*    height: calc(90vh - var(--header-height));*/
    /*}*/
}

@media screen and (max-width: 760px) {
    .user-profile .user-profile-right .language{
        /*width: 45%;*/
    }
    .blog-box .nav-tabs .nav-item{
        width: 50%;
    }
    .earning-filters .earning-filters-child{
        width: 50% !important;
    }
    .earning-filters .earning-filters-child.sp{
        width: 50% !important;
    }
}

@media screen and (max-width: 600px) {
    .user-profile .user-profile-right .language{
        /*width: 45%;*/
    }
    /*.sidebox{*/
    /*    height: calc(90vh - var(--header-height));*/
    /*}*/
    .profile-tabs .nav-tabs .nav-item{
        width: 50%;
    }
    .pasword-box{
        display: block;
    }
    .pasword-box .pasword-box-left{
        width: 100%;
    }
    .pasword-box .pasword-box-right{
        width: 100%;
    }
    .earning-filters{
        display: block;
    }
    .earning-filters .earning-filters-child{
        width: 100% !important;
    }
    .earning-filters .earning-filters-child.sp{
        width: 100% !important;
    }
    .earn-card{
        height: 120px !important;
    }
    earn-card-overlay a img{
        height: 35px !important;
    }
    .card-bg-2{
        height: 140px !important;
    }
    .error-body h1{
        font-size: 8rem;
    }
    .error-body h3{
        font-size: 2rem;
    }
    .error-body a{
        font-size: 22px;
    }
    .error-body h5{
        font-size: 1.5rem;
    }
    .error-body .sp{
        font-size: 16px;
    }
    .faq-box .nav-tabs .nav-item {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .copy-text{
        text-align: center !important;
    }
    .work-card{
        margin: 15px 0px !important;
        box-shadow: none !important;
    }
    .toggle-box-2{
        visibility: visible !important;
    }
    .toggle-box-3{
        visibility: hidden !important;
    }
    .mobile-parent-box{
        padding: 2rem !important;
    }
    .hei-c-c-2{
        height: 200px;
    }
    .hei-c-2{
        height: 250px;
    }
    /*.hei-c-2 img{*/
    /*    width: 100%;*/
    /*    height: 90%;*/
    /*}*/
}
@media screen and (max-width: 450px) {
    .sidebox .overlay .up-footer {
        padding: 0 3px;
    }
    .sidebox .overlay .up-footer .input-box {
        border-radius: 0;
    }
    .user-profile .user-profile-right .language{
        /*width: 50%;*/
    }
    .faq-box .nav-tabs{
        white-space: nowrap;
        display:block!important;
        flex-wrap: nowrap;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch
    }
    .faq-box .nav-tabs .nav-item{
        display: inline-block;
        width: auto;
        border: none;
        margin-right: 15px;
    }
    .faq-box .nav-tabs .nav-item .nav-link.active{
        border-bottom: none;
    }
    .accordion-btn .arrow-box{
        display: none;
    }
    .footer-2{
        margin-bottom: 50px;
    }
    .navbar{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .canvas-box{
        display: flex;
    }
    .sidebox{
        position: fixed;
        top: 136px !important;
        bottom: 73px !important;
        width: 100vw;
    }
    .up-body {
        width: 100%;
        height: calc(100vh - 300px);
    }
    .sidebox .overlay .up-footer{
        margin-bottom: 3px !important;
    }
    .copy-text{
        text-align: center !important;
    }
    .work-card{
        margin: 15px 0px !important;
        box-shadow: none !important;
    }
    .toggle-box-2{
        display: none !important;
    }
    .toggle-box{
        display: none !important;
    }
    /*.toggle-box-2{*/
    /*    visibility: visible !important;*/
    /*}*/
    .toggle-box-3{
        visibility: hidden !important;
    }
    .parent-pad{
        padding: 0px !important;
    }
    .earn-card{
        height: 120px !important;
    }
    earn-card-overlay a img{
        height: 35px !important;
    }
    .card-bg-2{
        height: 130px !important;
    }
    .sidebox-2{
        width: 1px !important;
        height: 1px !important;
    }
    .sidebox-2 .overlay-2 .toggle-box-2{
        /*width: 35px !important;*/
        /*height: 35px !important;*/
    }
    .sidebox-2 .overlay-2 .toggle-box-2 i{
        font-size: 14px !important;
    }
    .sidebox-2 .up-header{
        visibility: hidden !important;
    }
    .sidebox-2 .up-body-2{
        visibility: hidden !important;
    }
    .sidebox .overlay .toggle-box{
        position: absolute;
        left: 0;
        top: 0;
    }
    .sidebox .overlay .toggle-box i{
        font-size: 14px !important;
    }
    .survey-modal-box{
        display: block !important;
    }
    .survey-modal-box-right{
        margin-top: 10px;
    }
    .survey-modal-table{
        display: block !important;
    }
    .head{
        display: block;
    }
    .head h4{
        font-size: 18px;
    }
    .head p{
        margin-top: 5px !important;
    }
    .head span{
        background-color: var(--light-blue);
        color: var(--blue);
        padding: 4px 6px;
        margin: 0px 3px;
        font-size: 11px;
        font-family: regular;
        vertical-align: middle;
    }
    .withdraw-modal-header{
        display: block;
    }
    .withdraw-modal-header-right{
        margin-top: 10px;
    }
}